<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163898992-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163898992-1');
    </script>
    <meta http-equiv="refresh" content="0;url=index.html">
	   <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="description" content="Team Fortress 2 | ozfortress | rankings | statistics | metrics">
        <meta property="og:site_name" content="ozfstats.com">
        <meta property="og:title" content="Home">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Team Fortress 2 | ozfortress | rankings | statistics | metrics">
        <meta property="og:url" content="https://ozfstats.com/">
        <meta property="og:image" content="https://i.imgur.com/ll2qJAB.png">
        <meta property="twitter:card" content="summary_large_image">
    <title>ozfstats</title>
    <script language="javascript">
        window.location.href = "/currentrankings/"
    </script>
</head>

<body>
    Go to <a href="/currentrankings">Current Rankings</a>
</body>

</html>
